# Text Processing Libraries
nltk==3.8.1
contractions==0.1.73

# Data Manipulation Libraries
numpy==2.1.1
pandas==1.5.3

# Machine Learning Libraries
scikit-learn==1.3.0
scipy==1.10.1

# Recommendation System Library
scikit-surprise==1.1.4

# Model Persistence
joblib==1.2.0

# Web App Framework
streamlit==1.42.0
