# Text Processing Libraries
nltk
contractions

# Data Manipulation Libraries
numpy
pandas

# Machine Learning Libraries
scikit-learn
scipy

# Recommendation System Library
scikit-surprise

# Model Persistence
joblib

# Web App Framework
streamlit
