# Text Processing Libraries
nltk==3.8.1
contractions==0.1.73

# Data Manipulation Libraries
numpy
pandas==1.5.3

# Machine Learning Libraries
scikit-learn==1.3.0
scipy

# Recommendation System Library
scikit-surprise

# Model Persistence
joblib

# Web App Framework
streamlit
